technobeanie_stuff/Temp
technobeanie_stuff/Library
technobeanie_stuff/Assembly-CSharp-Editor-vs.csproj
technobeanie_stuff/Assembly-CSharp-Editor.csproj
technobeanie_stuff/Assembly-CSharp-vs.csproj
technobeanie_stuff/Assembly-CSharp.csproj
technobeanie_stuff/technobeanie_stuff-csharp.sln
technobeanie_stuff/technobeanie_stuff.sln
technobeanie_stuff/technobeanie_stuff.userprefs
.DS_Store
technobeanie_stuff/UnityVS.technobeanie_stuff.CSharp.Editor.csproj
technobeanie_stuff/UnityVS.technobeanie_stuff.CSharp.csproj